{% extends 'base.html' %}
{% block content%}
{%if user.is_authenticated %}



{% if user.is_superuser%}

<div class=" container">
  <div class="row">
    <div class="col-6">
      <h6 class="mt-2">National Library</h6>
    </div>
    <div class="col-6 d-flex ju">
      <a href="{%url 'view_book' %}" class="btn-link p-2">book</a>
      <a href="{%url 'view_client'%}" class="btn-link p-2">client</a>
      <a href="{% url 'view_barrow' %}" class="btn-link p-2">barrow</a>

    </div>

  </div>
  <h5>ADMIN - DASHBOARD</h5>



</div>
<!-- all users table -->
<div class="container">
  <div class="">
    <table id="ex" class="table table-striped" style="width:100%">

      <thead>
        <h3>user</h3>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">USERNAME</th>
          <th scope="col">EMAIL ADDRESS</th>
          <th scope="col">FRIST NAME</th>
          <th scope="col">LAST NAME</th>
          <th scope="col">STAFF STATUS</th>
          <th scope="col">EDIT</th>
          <th scope="col">ADD</th>

        </tr>
      </thead>
      <tbody>

        {%for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          {% if user.is_active == False %}
          <td style="color: red;"><i class='bx bx-x-circle'></i></td>
          {% else %}
          <td style="color: green;"><i class='bx bx-check-circle'></i></td>
          {% endif%}
          <td>
            <a class=" " href="{% url 'edit_registration' user.id %}">
              <i class="bx bx-edit bx-sm"></i>
            </a>
          </td>
          <td>
            <a class=" " href="{%url 'staff_register' %}"><i class='bx bx-plus-circle'></i></a>
          </td>
        </tr>

        {%endfor%}





      </tbody>
    </table>
  </div>
</div>

</div>
{% else %}
<div class=" container">
  <h6 class="mt-2">National Library</h6>


  <div class="">
    <table id="ex" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          {% if perm.library_m_s.narrow_book.view_narrow_book%}
          <th scope="col">id</th>
          <th scope="col">Book name</th>
          <th scope="col">Email</th>
          <th style="color: blue;" scope="col">Return Date</th>
          {%else%}
          <th scope="col">id</th>
          <th scope="col">Book name</th>
          <th scope="col">Email</th>
          <th style="color: blue;" scope="col">Return Date</th>
          <th>Access</th>
          <th>action</th>
          {%endif%}
        </tr>
      </thead>
      <tbody>

        {%for book in books %}
        <tr>
          <td>{{book.id}}</td>
          <td>{{book.book.name}}</td>
          <td>{{book.student.email}}</td>
          {% if book.end_date <= now %} <td style="color: red;">{{book.end_date}}</td>
            {% else %}
            <td style="color: green;">{{book.end_date}}</td>

            {% endif%}
            <td>
              <a class=" " href="{% url 'edit' book.id %}">
                <i class="bx bx-edit bx-sm"></i>
              </a>
            </td>
            {%if user.is_superuser%}
            <td>
              <a class="btn bg-danger " href="{% url 'delete' book.id %}"><i class="bx bx-delete bx-sm"></i></a>
            </td>
            {%else%}
            {% endif%}



        </tr>

        {%endfor%}



      </tbody>
    </table>
  </div>

</div>
{%endif%}
{%else%}
</div>
{%endif%}

{% endblock %}